ul.work {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 38px;

  li {
    width: 400px;
    height: 542px;
    background-color: var(--background-cards);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    backdrop-filter: var(--blur);

    .img-type {
      position: relative;

      img.main-img {
        width: 400px;
        height: 280px;
        border-radius: var(--radius);
      }

      .type {
        position: absolute;
        bottom: 4px;
        right: 0;
        border-top-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
        font-family: var(--font-title-medium);
        font-size: var(--fs-typePost);
        padding: 7px 15px;
        color: var(--text-black);

        &.client {
          background-color: var(--client);
        }
        &.opinion {
          background-color: var(--opinion);
        }
        &.étude {
          background-color: var(--etude);
        }
      }
    }

    .text {
      padding: 19px 22px;
      text-align: left;

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 10px;

      .date {
        font-size: var(--fs-date);
        font-family: var(--font-title-regular);
      }

      h3 {
        text-transform: uppercase;
      }

      .desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6; // Xème ligne
        -webkit-box-orient: vertical;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 70px;
          background: linear-gradient(to top, var(--desc-blur), transparent);
          z-index: 2;
          pointer-events: none;
        }
      }

      .bottom {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .tags {
          font-size: var(--fs-tags);
          font-family: var(--font-title-medium);
        }
      }
    }
  }
}

.nextPage {
  position: relative;

  padding: 9px;
  background-color: var(--background-cards);
  box-shadow: var(--shadow);

  width: max-content;
  height: 50px;
  border-radius: var(--radius);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;

  a,
  button {
    width: 32px;
    height: 32px;
    border-radius: var(--radius);
    background-color: var(--button);
    color: var(--color);

    text-align: center;
    font-family: var(--font-title-regular);
    font-size: var(--fs-tags);

    transition: ease-in-out 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    &.fleche {
      width: 60px;
      height: 32px;
    }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
