---
import "./carrousel.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---



<div class="carrousel">
	
	<section class="presentation">

		<div class="colonne1">
			<div class="nom">
				<h1>↗DENIS</h1>
				<h1>SANS◦•</h1>
				<h2>⇄ Étudiant, Designer</h2>
			</div>
			<a href="#go-tags" class="article">
				VOIR MES ARTICLES <img src="/icons/main-arrow.svg" alt="arrow" width="16px" height="15px" >
			</a>
			<img src="/fleche/arrow1.svg" alt="img-arrow1" class="fleche">
		</div>

		<div class="colonne2">
			<div class="logo">
				<!-- <img src="/hero.gif" alt="gif" class="static"> -->
				<!-- <img class="static" src="https://lh4.googleusercontent.com/-gZiu96oTuu4/Uag5oWLQHfI/AAAAAAAABSE/pl1W8n91hH0/w140-h165-no/Homer-Static.png"><img class="active" src="https://lh4.googleusercontent.com/i1RprwcvxhbN2TAMunNxS4RiNVT0DvlD9FNQCvPFuJ0=w140-h165-no"> -->
			</div>
			<img src="/fleche/arrow2.svg" alt="img-arrow2" class="fleche">
		</div>

		<div class="colonne3">
			<div class="what">
				<p><span>34</span>Articles</p>
				<p><span>6</span>Ans d'études</p>
				<p><span>21</span>Vidéos</p>
			</div>
			<img src="/fleche/arrow3.svg" alt="img-arrow23" class="fleche">
		</div>

	</section>

	<section class="butt-carrousel">
		
	</section>

</div>