---
import "./carrousel.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="carrousel">
	
	<section class="presentation">

		<div class="colonne1">
			<h1>↗DENIS<br>SANS◦•</h1>
			<h2>⇄ Étudiant, Designer</h2>
			<a href="#go-tags" class="article">
				VOIR MES ARTICLES <img src="/icons/main-arrow.svg" alt="arrow" width="16px" height="15px" >
			</a>
			<img src="/fleche/arrow1.svg" alt="img-arrow1" class="fleche">
		</div>

		<div class="colonne2">
			<!-- <img src="/hero.gif" alt="gif"> -->
			<img src="/fleche/arrow2.svg" alt="img-arrow2" class="fleche">
		</div>

		<div class="colonne3">
			<p><span>34</span>articles</p>
			<p><span>6</span>ans d'études</p>
			<p><span>21</span>vidéos</p>
			<img src="/fleche/arrow3.svg" alt="img-arrow23" class="fleche">
		</div>

	</section>

	<section class="butt-carrousel">
		
	</section>

</div>