---
const { length } = Astro.props;
const today = new Date();

import "./carrousel.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<div class="carrousel">
	
	<section class="presentation">

		<div class="colonne1">
			<div class="nom">
				<h1>↗DENIS</h1>
				<h1>SANS◦•</h1>
				<h2>⇄ {t('carrousel.metier')}</h2>
			</div>
			<a href="#go-tags" class="article">
				{t('carrousel.voir')} 
				<img src="icons/main-arrow.svg" alt="arrow" width="16" height="15" class="svg-a-colorier" >
			</a>
			<img src="/fleche/arrow1.svg" alt="img-arrow1" class="fleche svg-a-colorier">
		</div>

		<div class="colonne2">
			<div class="logo">
				<img class="active" src="/hero.gif" alt="gif">
				<img class="static" src="/hero-static.png" alt="logo">
			</div>
			<img src="/fleche/arrow2.svg" alt="img-arrow2" class="fleche svg-a-colorier">
		</div>

		<div class="colonne3">
			<div class="what">
				<p><span>{length}</span>{t('carrousel.articles')} </p>
				<p><span>{today.getFullYear()-2017}</span>{t('carrousel.etudes')} </p>
				<p><span>5</span>{t('carrousel.videos')} </p>
			</div>
			<img src="/fleche/arrow3.svg" alt="img-arrow23" class="fleche svg-a-colorier">
		</div>

	</section>

	<section class="butt-carrousel">
		
	</section>

</div>