---
import "./kit.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---


<div class="kit-container">
	<a href={`/${lang}/charte`}>{t('kit.charte')}</a>
	<a href={`/${lang}/presskit`}>{t('kit.press')}</a>
</div>