.lastVideo {
  position: relative;

  width: 400px;
  height: 540px;
  padding: 15px;

  background-color: var(--background-cards);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  backdrop-filter: var(--blur);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .titre {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    font-family: var(--font-title-bold);
  }

  .container-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    .thumbnail {
      width: 370px;
      height: 208px;
      border: none;
      border-radius: var(--radius);

      object-fit: cover;
    }

    .info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      font-size: var(--fs-date);

      a,
      img {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        z-index: 5;
      }

      h4 {
        font-family: var(--font-title-medium);

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; // Xème ligne
        -webkit-box-orient: vertical;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100px;
          height: 25px;
          background: linear-gradient(
            to left,
            var(--background-cards),
            transparent
          );
          z-index: 2;
          pointer-events: none;
        }
      }
    }

    .descri {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 6; // Xème ligne
      -webkit-box-orient: vertical;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        background: linear-gradient(to top, var(--desc-blur), transparent);
        z-index: 2;
        pointer-events: none;
      }
    }
  }

  .bottom {
    width: 100%;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
