---
import "./lastVideo.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// api: AIzaSyCl7q3lbuvDV1hKdpAVuUTkkWUv1zYlBBc
// https://developers.google.com/youtube/v3/getting-started?hl=fr

// URL: https://www.googleapis.com/youtube/v3/videos?id=7lCDEYXw3mM&key=YOUR_API_KEY
//      &part=snippet,contentDetails,statistics

---	

<div class="lastVideo">
	<div class="titre">
		<h3>{t('video.title1')}</h3>
		<h3>{t('video.title2')}</h3>	
	</div>

	<div class="container-video">
		<iframe src="https://www.youtube.com/embed/jx1CSEI-ato" title="video" allowfullscreen></iframe>
	</div>

	<div class="bottom">
		<img class="right" src="/icons/main-arrow.svg" alt="arrow" width="16px" height="15px" />
	</div>

</div>