---
import "./lastVideo.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---	

<div class="lastVideo">
	<div class="titre">
		<h3>{t('video.title1')}</h3>
		<h3>{t('video.title2')}</h3>	
	</div>

	<div class="container-video">

	</div>

	<div class="bottom">
		<img class="right" src="/icons/main-arrow.svg" alt="arrow" width="16px" height="15px" />
	</div>

</div>