.nextPage {
  padding: 9px;
  background-color: var(--background-cards);
  box-shadow: var(--shadow);

  width: max-content;
  height: 50px;
  border-radius: var(--radius);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;

  button {
    width: 32px;
    height: 32px;
    border-radius: var(--radius);
    background-color: var(--button);

    text-align: center;
    font-family: var(--font-title-regular);
    font-size: var(--fs-tags);

    transition: ease-in-out 0.3s;

    &.fleche {
      width: 60px;
      height: 32px;
    }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
