---

import "./tags.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { getCollection } from 'astro:content';
const allTags = (await getCollection('blog'))
.map((eachPost) => (
		eachPost.data.tags
	)
);


function filtrerHashtagsUniques(tableau) {
  const hashtagsUniques = new Set();

  // Parcours du tableau original
  tableau.forEach(element => {
    // Séparation de la chaîne en hashtags
    const hashtags = element.split(', ');

    // Ajout de chaque hashtag unique à l'ensemble
    hashtags.forEach(hashtag => {
      hashtagsUniques.add(hashtag);
    });
  });

  // Conversion de l'ensemble en tableau
  const tableauHashtagsUniques = [...hashtagsUniques];

  return tableauHashtagsUniques;
}

const hashtagsUniques = filtrerHashtagsUniques(allTags);


---

<script>

	const containerTags = document.querySelector('[data-containerTags]');
	const buttonOpen = document.querySelector('[data-openPanel]');

	buttonOpen?.addEventListener("click", () => containerTags?.classList.toggle("open"));

</script>

<!-- --- -->

<div data-containerTags class="tags-lines" id="go-tags">

	<div class="content">
		<div class="itemtags">{t('tags.all')}</div>
		<div class="itemtags"><img src="/icons/search.svg" alt="cherche" ></div>

		<div class="divider"></div>

		{
			hashtagsUniques.map((eachTag) => (
				<div class="itemtags">{eachTag}</div>
			))
		}

	</div>

	<img data-openPanel src="/icons/main-chevron.svg" alt="more" class="seemore">
</div>