---
import Layout from '../../layouts/PageLayout.astro';
---

<Layout
	title="Contact (fr)"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/placeholder.jpg"
>
	<p>du texte ici</p>
</Layout>
