.tag-lines {
  position: relative;

  padding: 12px 15px;
  height: 50px;
  width: 100%;

  background-color: var(--background-cards);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  backdrop-filter: var(--blur);

  overflow: hidden;

  &.open {
    height: max-content;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .left,
    .right {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }

    .colorPick {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }

    .itemtags {
      height: 26px;
      padding: 0 8px;
      border-radius: var(--radius);
      background-color: var(--button);
      color: var(--color);

      display: flex;
      justify-content: center;
      align-items: center;

      font-family: var(--font-title-regular);
      font-size: var(--fs-tags);

      transition: ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }

      &.colorChoose1 {
        span {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: var(--main-pink);
        }
      }
      &.colorChoose2 {
        span {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: var(--main-blue);
        }
      }
      &.colorChoose3 {
        span {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: var(--main-green);
        }
      }

      img {
        width: 14px;
        height: 14px;
      }

      label {
        visibility: hidden;
        width: 0;
      }

      input {
        border: none;
        background-color: var(--button);
      }

      .closeInput {
        display: none;
      }
    }

    .divider {
      background: #848484;
      min-width: 1px;
      height: 30px;
      margin: 0 10px;
    }
  }

  .seemore {
    width: 26px;
    padding: 11px;

    border-radius: var(--radius);
    background-color: var(--button);

    transition: ease-in-out 0.3s;
    transform: rotate(90deg);
    cursor: pointer;

    &:hover {
      transform: rotate(90deg) scale(1.05);
    }
  }
}
