---
import "./bottomArticle.scss"

interface Props {
	date: Date;
}
const { date } = Astro.props;

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { getCollection } from 'astro:content';
const posts = (await getCollection('blog'))
.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Trouver l'index du post actuel
const currentIndex = posts.findIndex(post => post.data.pubDate === date);
// Trouver le post précédent
const previousPost = posts[currentIndex + 1];
// Trouver le post suivant
const nextPost = posts[currentIndex - 1];

---

<section class="bottomArticle">

	{previousPost && 
		<div class="one">
			<a href={`/${previousPost.slug}`} class="goTo before">
				<img src="/icons/Flèche-M.svg" alt="article précédent" class="svg-a-colorier" />
				<h3>{t('article.goBefore')}</h3>
			</a>
			<img src={previousPost.data.heroImage} alt="article précédent" />
		</div>
	}

	{nextPost && 
		<div class="two">
			<a href={`/${nextPost.slug}`} class="goTo after">
				<h3>{t('article.goAfter')}</h3>
				<img src="/icons/Flèche-M.svg" alt="article suivant" class="svg-a-colorier" />
			</a>
			<img src={nextPost.data.heroImage} alt="article suivant" />
		</div>
	}

</section>