---
import "./bottomArticle.scss"
---

<section class="bottomArticle">

	<div class="one">
		<div class="goTo">
			<img src="/icons/Flèche-M.svg" alt="article précédent">
			<h3>ARTICLE PRÉCÉDENT</h3>
		</div>
		<img src="/placeholder.jpg" alt="article précédent">
	</div>

	<div class="two">
		<div class="goTo">
			<h3>ARTICLE SUIVANT</h3>
			<img src="/icons/Flèche-M.svg" alt="article suivant">
		</div>
		<img src="/placeholder.jpg" alt="article suivant">
	</div>

</section>