---
import "./dCard.scss"
---

<aside>
	<section class="d-card">
		<div class="in-card">
			<img src="/favicon.svg" alt="main-img">
		</div>
	</section>

	<section class="all-title">

	</section>

	<section class="bot-aside">

	</section>

</aside>