* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-size: 100%;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: var(--back);
}

body {
  min-height: 100%;

  color: var(--color);

  font-size: var(--fs-text);
  font-family: var(--font-text);

  word-wrap: break-word;
  overflow-wrap: break-word;

  background: url("/gradient/top-of-page.png") top no-repeat;
  background-size: 100%;

  &:before {
    content: "";
    background: var(--back) url("/bg.png") left top/auto repeat fixed;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
  }
}

main {
  flex-grow: 1;
  min-height: 100vh;
}

p {
  line-height: 1.3rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--font-title-bold);
}

h1,
.h1 {
  font-size: var(--fs-h1);
}

h2,
.h2 {
  font-size: var(--fs-h2);
}

h3,
.h3 {
  font-size: var(--fs-h3);
}

h4,
.h4 {
  font-size: var(--fs-h4);
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* --- */

.dark-theme .svg-a-colorier {
  filter: invert(1);
}

/* --- */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
