@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// font-family: 'Rubik', sans-serif;

@font-face {
  font-family: "RoundRegular";
  src: url("/fonts/RoundRegular.ttf");
}

@font-face {
  font-family: "RoundBold";
  src: url("/fonts/RoundBold.ttf");
}

@font-face {
  font-family: "RoundMedium";
  src: url("/fonts/RoundMedium.ttf");
}

// global
:root {
  --white: #ffffff; // fond
  --soft-white: #e2e2e2; // cards

  --grey: #e9e9e9; // nav - footer
  --grey2: #cbcbcb; // underline .active navbar

  --black: #000000;
  --soft-black: #2d3132;

  --gold-light: #ffd700;
  --gold-dark: #ff8000;

  --blue-light: #00d0ff;
  --blue-dark: #00d0ff;

  --violet-light: #c838e9;
  --violet-dark: #c838e9;

  // ---

  --radius: 8px;

  // ---

  --font-title-regular: "RoundRegular", serif;
  --font-title-bold: "RoundBold", serif;
  --font-title-medium: "RoundMedium", serif;
  --font-text: "Rubik", sans-serif;

  --fs-text: 16px; // texte - description
  --fs-date: 15px;
  --fs-tags: 17px;

  --fs-h1: 5rem;
  --fs-h2: 3rem;
  --fs-h3: 24px; // titres cartes
  --fs-h4: 20px; // navbar
}

// light theme
:root {
  --background: var(--white);
  --background-soft: var(--soft-white);

  --color: var(--black);
  --color-soft: var(--soft-black);

  --gold: var(--gold-dark);
  --blue: var(--blue-dark);
  --violet: var(--violet-dark);
}

// dark theme
.dark-theme {
  --background: var(--black);
  --background-soft: var(--soft-black);

  --color: var(--white);
  --color-soft: var(--soft-white);

  --gold: var(--gold-light);
  --blue: var(--blue-dark);
  --violet: var(--violet-dark);
}
