@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// font-family: 'Rubik', sans-serif;

@font-face {
  font-family: "RoundRegular";
  src: url("/fonts/RoundRegular.ttf");
}

@font-face {
  font-family: "RoundBold";
  src: url("/fonts/RoundBold.ttf");
}

@font-face {
  font-family: "RoundMedium";
  src: url("/fonts/RoundMedium.ttf");
}

// global
:root {
  --backrgound-white: rgb(255, 255, 255); // back
  --desc-blur-white: rgb(255, 255, 255); // blur bas description
  --cards-white: rgba(255, 255, 255, 0.5); // back cards
  --button-white-grey: rgb(237, 237, 237); // petits buttons
  --text-black: rgb(0, 0, 0); // text
  --text-grey-white: rgb(138, 138, 138); // text grey carrousel
  --main-pink-white: #ffb7dd;
  --main-blue-white: #a6bfd7;
  --main-green-white: #a6eed7;

  --backrgound-black: rgb(0, 0, 0); // back
  --desc-blur-black: rgb(38, 38, 38); // blur bas description
  --cards-black: rgba(74, 74, 74, 0.5); // back cards
  --button-dark-grey: rgb(85, 85, 85); // petits buttons
  --text-white: rgb(255, 255, 255); // text
  --text-grey-black: rgb(138, 138, 138); // text grey carrousel
  --main-pink-dark: #da74aa;
  --main-blue-dark: #70aae1;
  --main-green-dark: #66e3bb;

  --test: rgb(74, 74, 74);

  // ---

  --radius: 8px;
  --shadow: 0 0 30px rgb(0, 0, 0, 0.15);
  --blur: blur(2.5px);

  // ---

  --font-title-regular: "RoundRegular", serif;
  --font-title-bold: "RoundBold", serif;
  --font-title-medium: "RoundMedium", serif;
  --font-text: "Rubik", sans-serif;

  --fs-typePost: 12px; // type de post
  --fs-date: 15px; // sous text - date
  --fs-text: 16px; // texte - description
  --fs-tags: 17px; // tags - button
  --fs-post: 18px; // post

  --fs-404: 130px; // 404
  --fs-404-text: 35px; // 404 text

  --fs-h1: 5.5rem; // nom
  --fs-h2: 2.25rem; // fonction
  --fs-h3: 24px; // titres cartes
  --fs-h4: 20px; // navbar
}

// light theme
:root {
  --back: var(--backrgound-white);
  --desc-blur: var(--desc-blur-white);
  --background-cards: var(--cards-white);
  --button: var(--button-white-grey);
  --color: var(--text-black);
  --text-grey: var(--text-grey-white);

  --main-pink: var(--main-pink-white);
  --main-blue: var(--main-blue-white);
  --main-green: var(--main-green-white);
}

// dark theme
.dark-theme {
  --back: var(--backrgound-black);
  --desc-blur: var(--desc-blur-black);
  --background-cards: var(--cards-black);
  --button: var(--button-dark-grey);
  --color: var(--text-white);
  --text-grey: var(--text-grey-black);

  --main-pink: var(--main-pink-dark);
  --main-blue: var(--main-blue-dark);
  --main-green: var(--main-green-dark);
}
