---
import Layout from '../../layouts/PageLayout.astro';
---

<Layout
	title="charte (en)"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/placeholder.jpg"
>
	<p>CHARTE (en)</p>
</Layout>
