---
import Layout from '../../layouts/PageLayout.astro';
---

<Layout
	title="contact (en)"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/placeholder.jpg"
>
	<p>MY english text</p>
</Layout>
