---
import "../blogIndex.scss"
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/navbar/Header.astro';
import Footer from '../../components/footer/Footer.astro';
import Retour from "../../components/footer/Retour.astro";

import AllPosts from '../../components/accueil/AllPosts.astro';
import Carrousel from "../../components/accueil/Carrousel.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getLangFromUrl } from '../../i18n/utils';
import Kit from "../../components/accueil/Kit.astro";

const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	
	<body>
		<Header />
		<Retour />
		<main>
			<Kit />
			<Carrousel />
			<AllPosts />
		</main>
		<Footer />
	</body>
</html>
