---
import Layout from '../../layouts/PageLayout.astro';
---

<Layout
	title="Live (en)"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>du texte ici</p>
</Layout>