---
import "./404.scss"
import BaseHead from '../components/BaseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getLangFromUrl } from '../i18n/utils';
import Header from "../components/navbar/Header.astro";
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	
	<body>
		<Header />

		<main>

			<div class="container">
				<div class="top">
					<h1>404</h1>
					<h2>cette page n'existe pas</h2>
				</div>

				<div class="middle">
					<div class="mainBloc">a</div>
				</div>

				<div class="bottom">
					<a href={`/fr`}>
						RETOUR AUX ARTICLES
					</a>
				</div>
			</div>

		</main>
	</body>
</html>

