body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;

    margin: 45px 0;
    max-width: 1276px;
  }
}
