header {
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;

    height: 60px;
    width: 1276px;
    font-family: var(--font-title-medium);

    .parts {
      height: 60px;
      padding: 0 45px;

      background: var(--grey);
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 45px;

      &.logo {
        flex-grow: 2;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          height: 43px;
          width: 31px;
        }
      }

      &.internal-links {
        a {
          text-transform: uppercase;

          // border-bottom: 4px solid transparent;
          // &.active {
          //   font-weight: bold;
          //   border-bottom-color: var(--color);
          // }
        }
      }

      &.toggles {
      }
    }
  }
}
