---
import { languages } from '../../i18n/ui';

import {getRouteFromUrl} from "../../i18n/utils"
const route = getRouteFromUrl(Astro.url);

import "./toggleLanguage.scss"

---

<div class="toggleLang">
  {Object.entries(languages).map(([lang, label]) => (
      <a href={`/${lang}/${route}`}>{label}</a>
  ))}
</div>
