---
import "./header.scss"
import HeaderLink from './HeaderLink.astro';
import ToggleDarkLight from './ToggleDarkLight.astro';
import ToggleLanguage from './ToggleLanguage.astro';
import Liens from "./Liens.astro";

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
	<nav>
		<div class="parts logo">
			<a href={`/${lang}`}><img src="/logo.png" alt="main-logo"></a>
		</div>
		
		<div class="parts toggles">
			<ToggleLanguage />
			<ToggleDarkLight />
		</div>

		<div class="parts internal-links">
			<HeaderLink href={`/${lang}/contact`}>{t('nav.contact')}</HeaderLink>
			<Liens />
		</div>
	</nav>
</header>
