---
import "./header.scss"
import HeaderLink from './HeaderLink.astro';
import Settings from "./Settings.astro";
import Liens from "./Liens.astro";

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
	<nav>
		<div class="parts logo">
			<a href={`/${lang}`}><img src="/logo.png" alt="main-logo"></a>
		</div>
		
		<div class="parts toggles">
			<img src="/icons/search.svg" alt="search" width="20px" height="20px" >
			<Settings />
		</div>

		<div class="parts internal-links">
			<HeaderLink href={`/${lang}/contact`}>{t('nav.contact')}</HeaderLink>
			<Liens />
		</div>
	</nav>
</header>
