.for-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;

  h4 {
    cursor: pointer;
  }

  img {
    transform: rotate(90deg);
    cursor: pointer;
  }
}

.liens:not(.visible) {
  display: none;
}

.liens.visible {
  position: absolute;
  top: 10vh;
  right: 1vh;

  width: 1260px;
  height: 550px;

  background: var(--background-cards);
  border-radius: var(--radius);

  box-shadow: var(--shadow);

  display: flex;
  justify-content: center;
  align-items: center;

  .block {
    background-color: var(--button);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .liensLink {
    transition: ease-in-out 0.1s;
  }

  .liens > div > div:not(.col5):hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .col1 > * {
    width: 315px;
    height: 86px;
    margin: 20px;
  }

  .col2 .block {
    width: 387px;
    height: 510px;
    margin: 20px 20px 20px 0px;
  }

  .col3 .block {
    width: 160px;
    height: 157px;
    margin: 20px 20px 20px 0px;
  }

  .col4 > *:not(:last-child) {
    width: 298px;
    height: 86px;
    margin: 20px 20px 20px 0px;
  }

  .col5 {
    display: flex;
  }

  .col5 .block {
    width: 86px;
    height: 86px;
    margin: 0px 20px 20px 0px;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
  }

  .col5 > *:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
