---
import "./liens.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<script>

	const liens = document.querySelectorAll('[data-allLiens]');
	const buttonHeader = document.querySelector('[data-buttonHeader]');

	buttonHeader?.addEventListener("click", () =>
		liens.forEach(eachLien => {
			eachLien.classList.toggle("visible");
		})
	);

// ---

	var box1 = document.querySelector('.box1');
	var box2 = document.querySelector('.box2');

	document.addEventListener('click', (event) => {
    if (event.target !== box1 && event.target !== box2){
			liens.forEach(eachLien => {
				eachLien.classList.remove("visible");
			})
		}
  });

</script>

<!-- --- -->

<div data-buttonHeader class="for-arrow" >
	<h4 class="box1">{t('nav.live')}</h4>
	<img src="/icons/main-chevron.svg" alt="arrow" width="16px" height="15px" class="box2">
</div>


<div data-allLiens class="liens" class="box3">

	<div class="col1">
		<div class="block">
			<a data-allLiens href="" class="lienslink">HOMEPAGE</a>
		</div>
		<div class="block">
			<a href="https://twitter.com/denisssns" target="_blank" class="lienslink">TWITTER/X</a>
		</div>
		<div class="block">
			<a href="https://www.instagram.com/denis_sns" target="_blank" class="lienslink">INSTAGRAM</a>
		</div>
		<div class="block">
			<a href="https://www.youtube.com/channel/UCeD4mrn9m4xignyFdqKa-Rg" target="_blank" class="lienslink">YOUTUBE</a>
		</div>
		<div class="block">
			<a href="https://www.linkedin.com/in/denis-sans-484664203" target="_blank" class="lienslink">LINKEDIN</a>
		</div>
	</div>

	<div class="col2">
		<div class="block">LOREM IPSUM</div>
	</div>

	<div class="col3">
		<div class="block">
			<a href="#" class="lienslink">À PROPOS</a>
		</div>
		<div class="block">
			<a href="#" class="lienslink">ARCHIVES</a>
		</div>
		<div class="block">
			<a href="#" class="lienslink">CHARTE</a>
		</div>
	</div>

	<div class="col4">
		<div class="block">
			<a href="https://dribbble.com/DenisSNS" target="_blank" class="lienslink">DRIBBBLE</a>
		</div>
		<div class="block">
			<a href="#" target="_blank" class="lienslink">BEHANCE</a>
		</div>
		<div class="block">
			<a href="https://www.are.na/denis-s" target="_blank" class="lienslink">ARE.NA</a>
		</div>
		<div class="block">
			<a href="https://cloud.denissans.fr" target="_blank" class="lienslink">CLOUD</a>
		</div>

		<div class="col5">
			<div class="block">
				<a href="mailto:denissans@outlook.fr">EMAIL</a>
			</div>
			<div class="block">
				<a href="tel:+33695049490">TEL</a>
			</div>
			<div class="block">
				<a href="#">CV</a>
			</div>
		</div>
	</div>

</div>