---

import "./settings.scss"

import ToggleDarkLight from './options/ToggleDarkLight.astro';
import ToggleLanguageJsx from './options/ToggleLanguageJsx.jsx';
import ToggleSide from './options/ToggleSide.astro';

import { languages } from '../../i18n/ui';
import {getRouteFromUrl, getLangFromUrl} from "../../i18n/utils"
const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);

---

<script>

	const allOptions = document.querySelector('[data-allOptions]');
	const buttonOptions = document.querySelector('[data-buttonOptions]');

	buttonOptions?.addEventListener("click", () =>
			allOptions?.classList.toggle("visible")
	);

	// ---
	
	const closer = document.querySelector('[data-closer]');

	closer?.addEventListener('click', (event) => {
    if (event.target !== buttonOptions ){
			allOptions?.classList.remove("visible")
		}
  });

</script>


<img data-buttonOptions src="/icons/Paramètres.svg" alt="settings" width="20" height="17,36" class="svg-a-colorier button-head">

<div data-allOptions class="toggleSettings">

	<h3>· Thème :</h3>
	<ToggleDarkLight />

	<h3>· Paramètres du site :</h3>
	<div class="toggler">
		<ToggleLanguageJsx route={route} languages={languages} lang={lang} client:only/>
		<ToggleSide />
	</div>

	<div data-closer class="closer">
		<img src="/icons/Fermer-M.svg" alt="close" width="15" height="15" class="svg-a-colorier" >
	</div>

</div>


