.button-head {
  cursor: pointer;
}

.toggleSettings:not(.visible) {
  display: none;
}

.toggleSettings.visible {
  position: absolute;
  top: 6rem;

  width: 366px;
  height: 366px;

  background-color: var(--back);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  backdrop-filter: var(--blur); // marche pas

  padding: 23px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  .toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .closer {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;

    padding: 8px;
    background-color: var(--button);
    border-bottom-left-radius: var(--radius);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
}
