---

import "./settings.scss"

import ToggleDarkLight from './ToggleDarkLight.astro';
import ToggleLanguage from './ToggleLanguage.astro';
import ToggleSide from './ToggleSide.astro';

---

<div class="icon-setting">
	<img src="/icons/site-settings.svg" alt="settings" width="20px" height="17.36px" class="svg-a-colorier">

	<div class="toggleSettings">

		<h3>· Thème :</h3>
		<ToggleDarkLight />

		<h3>· Paramètres du site :</h3>
		<ToggleLanguage />
		<ToggleSide />

	</div>
</div>


