---

import "./settings.scss"

import ToggleDarkLight from './ToggleDarkLight.astro';
import ToggleLanguage from './ToggleLanguage.astro';

---

<div class="icon-setting">
	<img src="/icons/site-settings.svg" alt="settings" width="20px" height="17.36px" >

	<div class="toggleSettings">

		<ToggleDarkLight />
		<ToggleLanguage />
		
	</div>
</div>


