---
import "./toggleLanguage.scss"

import { languages } from '../../i18n/ui';
import { getLangFromUrl} from "../../i18n/utils"
const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);


export function getRouteFromUrl(url: URL) {
  const pathname = new URL(url).pathname
  const parts = pathname?.split('/')

  parts.shift();
  parts.shift();

  return parts.join('/')
}

---

<div class="toggleLang">

    <h4>{lang}

      <div class="container-langues">
        <div class="langues">
          {Object.entries(languages).map(([lang, label]) => (
            <a href={`/${lang}/${route}`}>
              <h4>{label}</h4>
            </a>
          ))}
        </div>
      </div>

    </h4>

</div>
