.hireMe {
  width: 1276px;
  height: 200px;
  background-color: var(--background-soft);
  border-radius: var(--radius);

  padding: 27px 22px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
