---
import "./hireMe.scss"

import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="hireMe">
	<h3>{t('hireMe.title')}</h3>
	<p>{t('hireMe.accroche')}</p>
</div>