---
import "./retour.scss"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<script>

	const button = document.querySelector('[data-scroller]');
  button?.addEventListener("click", () => window.scroll(0, 0));

	window.addEventListener('scroll', function() {
			var scrollPosition = window.scrollY || document.documentElement.scrollTop;

			// tkt
			if (scrollPosition >= 300) {
					button.style.display = 'flex';
			} else {
					button.style.display = 'none';
			}
	});


</script>

<!-- ### -->

<button data-scroller class="vers-haut" id="ele" style="display:none">
	{t('footer.retour')}
	<img src="icons/main-arrow.svg" alt="arrow" width="16" height="15" class="svg-a-colorier">
</button>
