---

import "./toggleSide.scss"

---

<div class="toggleSide">

	<label for="colonne">Colonne d’infos :</label>

	<select name="colonne" id="colonne">
		<option value="droite">DROITE</option>
		<option value="gauche">GAUCHE</option>
	</select>

</div>
