article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  text-align: center;
  margin-top: 30px;
  z-index: 2;

  .hero-image {
    width: 100%;

    img {
      border-radius: var(--radius);
      box-shadow: var(--shadow);
      backdrop-filter: var(--blur);
    }
  }

  .date {
    width: 100%;
    max-width: 1260px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;

    img {
      height: 44px;
      width: 44px;
      border-radius: 50%;
      z-index: 2;
    }

    p {
      font-style: var(--fs-date);
      font-family: var(--font-title-medium);
    }
  }

  .infos {
    display: flex;
    gap: 30px;

    &.reverse {
      flex-direction: row-reverse;
    }

    .all-txt {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .main-txt {
        width: 930px;
        background-color: var(--background-cards);
        border-radius: var(--radius);
        box-shadow: var(--shadow);
        backdrop-filter: var(--blur);
        padding: 60px;

        text-align: left;
        line-height: 24px;
        font-size: var(--fs-post);
      }
    }
  }
}
